*{
	margin:0;
	padding: 0;
}
body{
	font-size: 12px;
}
li{
	list-style-type: none;
}
a,a:visited{
	color: #333;
	text-decoration:none;
}
a,a:hover{
	color: #cc0D24;
	text-decoration:none;
}
.container{
	width: 1211px;
	margin: 0 auto;
}
.lf{
	float: left;
}
.rf{
	float: right;
}
input,button{
	outline: none;
}
i{
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
}
b{
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
}
.clearfloat:after{
	content: '';
	display: block;
	clear:both;
}
